<header>
  <h1>My Header</h1>
  <% if (userID) { %>
    <form action="/logout" method="POST">
        <input type="submit" value ="Logout" style="decoration: none">
    </form>
  <% } else { %>
    <a href="/register"> Register</a>
    <% } %>
</header>
