<header>
  <h1>My Header</h1>
  <form method="POST" action="/login">
    <input name="username" type="text" id="username" placeholder="MyNewUsername1234">
    <input type="submit" value="Create Account">
  </form>
</header>
