<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny URL</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <% include ../partials/_header %>
  <h1>Login</h1>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Login:</label>
      <input id="email" type="email" name="email" placeholder="CoolGuy123@gmail.com" style="width: 300px">
      <input id="password" type="password" name="password" placeholder="**********" style="width: 300px">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
