<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ../partials/_header %>
    <h2>Would you like to edit this URL?</h2>
    <div> <%= shortURL %> - <%= longURL %></div>
    <form method="POST" action="/urls/<%= shortURL %>/index" style="display:inline">
      <input name="longURL" type="text" id="edit">
      <input type="submit" value="Edit">
    </form>
</body>
</html>
