<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- <% include ../partials/_header %> -->
    <ul>
      <% for (tinyURL in urls) { %>
      <li><%= tinyURL%> - <%= urls[tinyURL] %></li>
      <!-- Make a class to make these two inline -->
      <!-- EJS will parse the string interpolation from within the string -->
      <form method="POST" action="/urls/<%= tinyURL%>/delete")>
        <input type="submit" value="delete" id="delete" style="margin:10px">
      </form>
      <form method="POST" action="/urls/<%= tinyURL%>/edit">
        <input name="shortURL" type="text" id="edit">
        <input type="submit" value="Edit">
      </form>
      <% } %>
    </ul>
    <div>
      <!-- Doesn't link to the right page -->
      <a href = "/urls/new">Shorten a new URL</a>
    </div>
</body>
</html>
