<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ../partials/_header %>
    <ul>
      <% for (tinyURL in urls) { %>
      <li><%= tinyURL%> - <%= urls[tinyURL] %></li>
      <% } %>
    </ul>
    <div>
      <!-- Doesn't link to the right page -->
      <a href = "./pages/urls_new.ejs">Shorten a new URL</a>
    </div>
</body>
</html>
