<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include ../partials/_header %>
    <h1>Your Newly Shortened URL</h1>
    <div> <%= shortURL %> from <%= longURL%>   </div>
</body>
</html>
