<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <!-- <% include ../partials/_header %> -->
    <ul>
      <% for (tinyURL in urls) { %>
      <li><%= tinyURL%> - <%= urls[tinyURL] %></li>
      <form method="POST" action="/urls/9sm5xK/delete">
        <input type="submit" value="delete" id="delete" style="margin:10px">
      </form>urlDatabase
      <form>
        <input type="text" value=">
      </form>
      <% } %>
    </ul>
    <div>
      <!-- Doesn't link to the right page -->
      <a href = "/urls/new">Shorten a new URL</a>
    </div>
</body>
</html>
